.profile-header{
    margin-top: 50px;
}

.mt-20{
    margin-top: 20px;
}

.mb-20{
    margin-bottom: 20px;
}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.w-300{
    width: 300px;
}

.w-500{
    width: 600px;
}

.background-profile{
    background-color: coral;
}
